body {
  font-family: Rubik, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  background-color: #17a2b8;
  overflow-y: hidden;
  overflow-x: hidden;
}
h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 52px;
  font-weight: 700;
}

.global-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header.attente {
  width: 100%;
  display: contents;
}
header.attente > img {
  max-width: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-16deg);
  margin-top: -5%;
}
.titre-attente {
  max-width: 25ch;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 3px black;
}
.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 19;
}
.content > sup {
  font-size: 20px;
}
.subtitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.subtitle >sup {
  position: relative;
  margin-top: -15%;
  font-size: 23px;
  margin-left: -61%;
  color: rgb(240, 240, 240);
  text-shadow: 1px 2px 3px darkblue;
  padding-right: 15vw;
}
.sticker {
  margin-right: -105%;
  margin-left: 4%;
  transform: rotate(12deg);
  margin-top: -2%;
}
.message {
  display: flex;
  position: absolute;
  margin-top: -102%;
  padding: 9px;
  text-align: center;
}
.link-message {
  display: flex;
  position: absolute;
  margin-top: -58px;
  padding: 9px;
  text-align: center;
  margin-left: 13%;
  font-weight: 500;
  cursor: pointer;
  z-index: 18;
}
.link-message > a {
  text-decoration: none;
}
.content-footer {
  max-height: -webkit-fill-available;
}

.plinte {
  height: 2vh;
  background-color: #3d7181;
}
.sol {
  height: 32vh;
  background-color: #bb8a58;
  width: 101%;
  bottom: 0 !important;
  position: absolute;
}
.content-footer > img {
  position: relative;
  margin-left: 16%;
  bottom: 232px;
  z-index: 2
}
.ants {
  position: absolute;
  top: 28vh;
  z-index: 25;
  width: 100%;
}
.making {
  position: absolute;
  display: initial;
  bottom: -11px;
  max-width: fit-content;
  left: 46%;
  text-shadow: 1px 1px 2px black;
  color: white;
}
p.making > a {
  text-decoration: none;
  color: white;
}
